[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-groq = "*"
langchain = "*"
python-dotenv = "*"
streamlit = "*"
tavily-python = "*"

[dev-packages]

[requires]
python_version = "3.9"
